:root {
    --primary-color: #6ECCAF;
    --secondary-color: #ADE792;
    --background-color: #F3ECB0;
    --read: #91D491;
    --not-read: #FF7575;
    --text-color: #344D67;
}

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: var(--background-color);
}

.header {
    background-color: var(--primary-color);
    padding: 40px 100px;
}

.header p {
    margin: 0;
    color: var(--text-color);
    font-size: 40px;
    font-weight: bold;
}

.main-content {
    padding: 40px 100px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 1fr;
    gap: 50px;
    justify-content: center;
}

.book-card {
    background-color: var(--secondary-color);
    width: 300px;
    height: 300px;
}