:root {
    --primary-color: #6ECCAF;
    --secondary-color: #ADE792;
    --background-color: #F3ECB0;
    --read: #91D491;
    --not-read: #FF7575;
    --text-color: #344D67;
    --icon-filter: invert(28%) sepia(10%) saturate(2262%) hue-rotate(170deg) brightness(86%) contrast(85%);
}

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* ----------HEADER---------- */

.header {
    background-color: var(--primary-color);
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width:
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    width: 70px;
    filter: var(--icon-filter);
}

.logo-container p {
    margin: 0;
    font-size: 60px;
    font-family: 'Lobster', monospace;
}

.log-in-btn {
    border: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 15px 20px;
    font-weight: bold;
}

.log-in-btn:hover {
    background-color: rgb(173, 231, 146, .75);
    cursor: pointer;
    transition: .2s;
}

.log-in-btn:active {
    background-color: var(--secondary-color);
    transition: .2s;
}

/* ----------MAIN CONTENT---------- */

.main-content {
    padding: 40px 200px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 1fr;
    gap: 50px;
    justify-content: center;
}

.book-card {
    background-color: var(--secondary-color);
    width: 260px;
    min-height: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.book-info,
.button-container {
    text-align: center;
}

.book-info div {
    padding-bottom: 20px;
}

.button-container div {
    padding-top: 10px;
}

.button-container button {
    width: 150px;
}

/* ----------ADD BOOK BUTTON---------- */

.add-book-btn {
    border: none;
    padding: 0;
    background-color: var(--primary-color);
    min-height: 272px;
}

.add-book-btn:hover {
    background-color: rgb(110, 204, 175, .75);
    cursor: pointer;
    transition: .2s;
}

.add-book-btn:active {
    background-color: var(--primary-color);
/*     box-shadow: 1px 1px 3px var(--text-color);
    transform: translateY(.5px);
    transform: translateX(.5px); */
    transition: .2s;
}

.add-book-btn div {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-book-btn img {
    width: 100px;
    filter: var(--icon-filter);
}

/* ----------BOOK CARD BORDERS (MOVE THIS)---------- */

.book-card {
    border-radius: 25px;
    box-shadow: 2px 2px 5px var(--primary-color);
}

.add-book-btn {
    border-radius: 25px;
    box-shadow: 2px 2px 5px var(--text-color);
}

/* ----------POP UP FORM---------- */

.form-popup {
    display: none;
    position: relative;
    z-index: 10;
}

.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    content: '';
}

.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 18px;
}

.close-container {
    text-align: end;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-btn {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
}

.close-icon {
    width: 30px;
    filter: var(--icon-filter);
}

.form-title {
    padding-bottom: 20px;
    padding-top: -20px;
}

.form-div {
    padding-bottom: 15px;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
}

.text-input,
.number-input {
    padding: 5px 10px;
}

.checkbox-container {
    padding-top: 5px;
    padding-bottom: 20px;
}

.checkbox-input {
    height: 20px;
    width: 20px;
    margin: 0;
    vertical-align: middle;
}